<% content_for(:side_bar) do %>
    <%= render :partial => "/shared/sidebar" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Added by</th>
      <th>Email</th>
      <th>Facebook</th>
      <th>Skype</th>
      <th>Twitter</th>
      <th>Engagement count</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= User.find(contact.added_by).email %></td>
        <td><%= contact.email_id %></td>
        <td><%= contact.facebook_id %></td>
        <td><%= contact.skype_id %></td>
        <td><%= contact.twitter_id %></td>
        <td><%= contact.engagements_count %></td>
        <td><%= raw contact.tag_list.map { |t| link_to t, group_tag_path(@group, t) }.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>