<%if @group%>
<h1>
  <%= link_to @group.name, group_path(@group) %>
</h1>

<div class="group-members">
	<%=	image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(@group.creator.email)}", :alt => "#{@group.creator.email}", :class => 'avatar group-member group-owner')  %>

	<% @group.users.first(3).each do |user|%>
		
		<%= image_tag("http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(user.email)}", :alt => "#{user.email}", :class => 'avatar group-member') %>		
	
	<%end%>

	<% if @group.users.count >= 3 %>
	<div class="group-member group-number">
		<%= @group.users.count - 3 %>
	</div>
	<%end%>
</div>

<br/><br/>
<h3>Group Activity</h3>
<ul class="group-activity">
<% @group.contacts.order("created_at DESC").first(5).each do |ss|%>
	<li>
	<%= link_to "#{User.find(ss.added_by).email} Added #{ss.name} #{time_ago_in_words(ss.created_at)} ago", [ss.group, ss]%></li>
<%end%>
</ul>

<%end%>