<%= simple_form_for([@contact.group, @contact]) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.input :name, :required => true, :autofocus => true, label: 'Contact Name', input_html: {class: 'form-control'} %>
  </div>


<div class="form-group">
	<%= f.simple_fields_for :phones do |op| %>
	  <%= render 'phone_fields', :f => op %>
	<% end %>
	<div class="links">
	  <%= link_to_add_association 'add phone', f, :phones %>

	</div>	

</div>


  <div class="form-group">
    <%= f.input :email_id, :required => false, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :facebook_id, :required => false, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :skype_id, :required => false, input_html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :twitter_id, :required => false, input_html: {class: 'form-control'} %>
  </div>
<div class="form-group">
    <%= f.label :engagement_count %><br>
    <%= f.number_field :engagements_count %>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>