<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @contact.group_id %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @contact.added_by %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email_id %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook_id %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @contact.skype_id %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter_id %>
</p>

<p>
  <strong>Engagement count:</strong>
  <%= @contact.engagement_count %>
</p>


