<% content_for(:side_bar) do %>
    <%= render :partial => "/shared/sidebar" %>
<% end %>

<h1>
  <%= @contact.name %>
</h1>

<p>
  <strong>Added by:</strong>
  <%= User.find(@contact.added_by).email %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email_id %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook_id %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @contact.skype_id %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter_id %>
</p>

<p>
  <strong>Engagement count:</strong>
  <%= @contact.engagements_count %>
</p>

	<%=render "shared/engagements"%>

