<!DOCTYPE html>
<html>
<head>
  <title>Crm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		
	<ul>
		<li><%=link_to "Home", root_url %></li> | 
		<%if user_signed_in?%>
		<li><%=link_to "My Groups", my_groups_path %></li>
		<%end%>
		<li><%=link_to "Groups", groups_path %></li> | 
		<%if user_signed_in?%>
		<li><%=link_to "Signed in as #{current_user.email}. Log Out?", destroy_user_session_path, method: :delete%></li>
		<%else%>
		<li><%=link_to "Sign in", new_user_session_path %></li> | 
		<li><%=link_to "Sign up", new_user_registration_path %></li> | 
		<%end%>
	</ul>
	</div>
<div class="fluidity">

<%if notice%><li class="warning alert"><%= notice %></li><%end%>
<%if alert%><li class="danger alert"><%= alert %></li><%end%>
<%= yield %>
</div>

</body>
</html>
